// Variables: Color, fonts etc

/*Anchor colors*/
$anchorStd: #D2691E;
$anchorVis: #556B2F;
$anchorHov: #FF6347;
$anchorActv: #32CD32;
$anchorLit: #eee;

/* Button Colors */
$btnBrdrLite: #eee;
$btnBrdrDrk: #999;
$btnColor: #bbb;
$btnHover: #ddd;
$btnActive: #000;


/* Field Colors */
$fieldReq: #e0f599;
$fieldValid: #abf2ab;
$fieldErro: #efbdbd;

$navDark: #464655;
$navHov: #e4b363;
$navActive: #e4b363;
$navFixedBg: #fafbf5;
$navLiteYw: #ebebd3;

//fonts
$robot: 'Roboto', sans-serif;
$yesterYr: 'Yesteryear', serif;

//Thumbnail Slider Gallery
$thGalWidth: 300px;
$thGalHeight: 300px;