// Form Styles



form {
	padding: 0 .5em;
    max-width: 960px;
    margin: 0 auto;
	label {
		display: none;
		font: normal 1.2em/1.3 $robot;
		margin:.5em .2em;
		padding: .4em;
		vertical-align: top;
        width: 20%;
        text-align: right;
	}

	input, textarea {
		font:italic 1.4rem/2.5 $robot;
		color: #999;
		font-weight: lighter;
		padding: .5em;
		display: block;
        margin: 1em auto;
        width: 80%;
        border: solid 1px #999;
	}
    fieldset{
    padding: 1em;
    margin: 1em 0;
    border: solid 1px #999; 
    }

    legend{
        padding: 0 5px;
        font-style: italic;
        color: #444;
    }

}/*end Form */

.field-border-none {
	border:none;
	background-color: $btnBrdrLite;
}

.field-rnd-crnr {
	border-radius: .5em;
}

.field-theme-night {
	color:$anchorLit;
	background-color: $navDark;
}

.field-theme-gray {
	color: $btnBrdrLite;
	background-color: $btnBrdrDrk;
}
@media screen and (min-width:768px) {
    
	form {
		margin: 1%;
		label {
			display: inline-block;
			}
		input{
			display: inline-block;
            margin:.5em .2em;
            width: 60%;
			}
        textarea{
			display: inline-block;
            margin:.5em .2em;
            width: 60%;
			}
		button  {
			padding: 15px 10px;
		}
	}
}
