/*********NAVIGATION STYLES*************/
/* Responsive hamberger menu **/
.responsive_nav_icon{
    cursor: pointer;
    display: inline-block;
    margin: 1em 0 1em 1em;
    &:after{
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        content: '\e5d2';
        font-size: 2em;
        padding: 3px 6px;
        background-color: #ccc;
        color:$navDark;
        border: solid 1px $navDark;
        border-radius: 4px;
    }
}

.responsive_nav {
    display: none;
    background-color: $navDark;
    font-family: sans-serif;
    list-style: none;
    li:last-child{
        border-bottom: none;
    }
    a{
        font-size: inherit;
        text-align: center;
        text-decoration: none;
        color:$navLiteYw;
        display: block;
        text-transform: uppercase;
        padding: 1em;
        &:hover,&:focus{
            background-color: $navHov;
            color: $navDark;
        }
    }
}

.active_nav{
    background-color: $navActive;
    color: $navDark;
}

/* Dropdown/Submenu styles **/
.submenu{
     ul li a{
        text-transform:capitalize;
    } 
    }

/** Side Nav bar collapsible **/
.side_nav{
    background-color: $navDark;
    font-family: sans-serif;
    font-size: 2.5em;
    list-style: none;
    height: 100%;
    position: fixed;
    top:0;
    left:-500px;
    z-index: 1;
    padding-top:6em;
    width:50%;
    transition: 1s;
    a{
        text-align: center;
        text-decoration: none;
        color:#818181;
        display: block;
        text-transform: uppercase;
        padding: 10% 0;
        &:hover,&:focus{
            color:$navLiteYw;
        }
    }
}

.side_nav_close:after{
    display: block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color:$navLiteYw;
    content: '\e14c';
    font-size: 3em;
    position: absolute;
    top:10px;
    right:0;
    padding:10px;
    cursor: pointer;
}

.showSideNav{
    display: block;
    transition: 2s;
}

.push_right{
    margin-left: 2%;
    transition: margin-left 1s;
}
.push_animation{
    margin-left: 53%;
}

/**********Media Queries **************/
/* Mobile landscape */
@media screen and (min-width: 600px)
and (orientation : landscape){

/** Side Nav bar collapsible **/
.side_nav{
    font-size: 1.5em;
    padding-top:2em;
    width:40%;
    a{
        padding: 5% 0;
    }
}
.side_nav_close:after{
    font-size: 1em;
    }

.push_animation{
    margin-left: 43%;
}

}

/**Tablet view **/
 @media screen and (min-width:768px){
 .responsive_nav_icon{
     display: none;
 }

 .responsive_nav{
    display: block!important;
    background-color: transparent;
    text-align: center;
     li{
         display: inline-block;
         border-bottom: none;
         position: relative;
         li{
             width: 100%;
             a{
                 margin: 0;
                padding-left: 0;
                 padding-right: 0;
                color:$navLiteYw;
                &:hover,&:focus{
                    background-color: $navHov;
                    color: $navDark;
                }
             }
          
         }
     }
     li:hover > ul{
        display: block;
    }
    a{
        font-size: 1.6rem;
        color:$navDark;
        padding: 1em;
        margin: auto 1em;
        &:hover,&:focus{
            background-color: transparent;
            border-bottom: solid 1px $navHov;
        }
        }
     ul{
         position: absolute;
         top: 100%;
         z-index: 20;
         background-color: $navDark;
         }
 }
 .active_nav{
    background-color: transparent;
    border-bottom: solid 1px $navActive;
    }
     
 /** Dropdown menu **/
 .submenu{
     a:hover{
         border-bottom: none;
         color:$navHov;
     }
     ul{
        display: none; 
     }
        
        
    }

 /** Fixed header **/
 .top_fixed_nav{
    position: fixed;
    z-index: 99;
    top:0;
    left: -1px;
    width:100%;
    background-color: $navFixedBg;
 }

 .bottom_fixed_nav{
    position: fixed;
    z-index: 99;
    bottom:0;
    left:0;
    width:100%;
    background-color: $navFixedBg;
 }

 /** Side Nav bar collapsible **/
 .side_nav{
        font-size: 2em;
        padding-top:4em;
        width:35%;
        a{
            padding: 8% 0;
        }
    }
 .side_nav_close:after{
        font-size: 2em;
    }

 .push_animation{
    margin-left: 38%;
 }

 }

/**Large Screen **/
@media screen and (min-width: 1200px){

/** Side Nav bar collapsible **/



}
