/*// User CSS file  Outside of Frame work*/

aside.notMobile {
	display:none
}

body {
background: #111;
}

html {
	background: #111;
}
.parallax {
	background-color: #000;
}


responsive_nav {
	z-index: 5;
}

.container, .w1024 {
	max-width:1024px;

}
.iRed {
	color: #d40f0f;
	font-style: italic;
}

article, #calendar {
	padding:0 1em;
	background:rgba(255,255,255,.7)

}

fieldset {
	margin-top:2em;
	background: rgba(255,255,255, .7)}
legend {
	background:rgba(255,255,255,.9);
	border-top-left-radius: 5px;
	border-top-right-radius:  5px;

}
  form label {
    margin: .2em .2em;
    padding: .4em;
    vertical-align: middle;
    text-align: right;
}
form textarea {
			display: block;
            margin:.5em auto;
            width: 80%;

			}
.spacer {
	display: none;
}

#thankYou .reverseTransparent {
 	top: 75px;

}


#thankYou aside {
	margin:30% auto 0;
	WIDTH: 70%;
}

 aside#RtHnd {

	color: #6f2121;
	border: solid 5px #6f2121;
	border-radius: 1em;
	padding: 1em;
	background: rgba(255, 255, 255, 0.7);

}
blockquote {
	margin: 1rem;
}
footer:before {
	content:'';
	clear:both;
}
footer {
	padding: .5rem 2rem;
	color: #333;
	background: #fff;
}
#ftr2 {
	padding: 0 auto;
}
#ftr3 {
	padding: 1rem 0;
}
#article1img1 {
	display:flex;
	width: 60px;
	text-align: center;
}
#article2img1 {
	width:50%;
}
.SFIco {
	max-width:50px;
	width: 50px;
	height:50px;
	margin: 1rem;
}
.FPIco {
 width:10px;
height:auto;
}
div#indexPg {
	display:block;
	height:auto;
	border-top:solid 10px rgba(255,255,255, .7);

}
@media screen and (min-width:600px) {

}
@media screen and (min-width:768px) {
	.indexPgBdy article, .indexPgBdy > #calendar {
	height: 80rem;
	overflow: hidden;

}
	.stayOpen {
		height: auto;
	}
	.spacer {
		display:block;
		height: 80rem;
		background:transparent;
	}
aside.notMobile {
	display: block;
}
	.reverseTransparent {
	padding: 15px;
    width: 90%;
	top: 15px;
    left: 5%;
	}
	aside#RtHnd {
		float:right;
		background: rgba(255, 255, 255, 0.4);
		margin-right: 20px	;


	}
	#heroImg .parallax{
		background-image: url('../images/background.jpg');
	}
	.parallax > img {
		margin-bottom:-10px;
	}
	#indexPg .parallax {
		background-image: url('../images/Extrasolar_planet_NASA3.jpg');
	}
	
	#contactForm .parallax {
		background-image: url('../images/Extrasolar_planet_NASA3.jpg');
	}
	
	#thankYou {
		background: url(../images/NeptunTriton2006..png) top center;
		height:90vh;
		color: rgba(255,255,255, .7);

	}

	#SFProj .parallax {
		background-image: url(../images/Atlas1024x797.jpg);
		background-position: top;
	}
	.container {
		padding-top: 3em;
		background-color: transparent;
	}

}
@media screen and (min-width:1200px) {
.reverseTransparent {
	padding: 50px;
    width: 75%;
	top: 25px;
    left: 12.5%;
	}
}

